body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
   
    background-color: #f7f7f7;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.search-bar {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.search-bar:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.search-button {
    height: 40px;
    padding: 0 15px;
    margin-left: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.search-button.disabled {
    padding: 12px 30px;
background-color: #aaa;
margin-left: -1px;
color:#999;
border: #aaa 1px solid;
cursor: not-allowed;

}
.search-button:hover {
    background-color: #0056b3;
}
.search-result-for{
    text-align: center;
    margin-top: 10px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}


